@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body { 
background-color: #EBEFFF;
}

.navbar
{
display: flex;
justify-content: left;
}


h1 {
text-align: center;
color: #A4A3FF;
font-family: 'Bebas Neue', cursive;
font-size: 2cm;
}

h2 {
    color: #A4A3FF;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;   
}

img {
    height: 100px;
    width: 100px;
}

button {    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A4A3FF;
    border-radius: 10px;
    border-color: #A4A3FF;
    border: none

}

button:hover {
    background-color: #FFAA71;
    border-color: #FFAA71;
   }
