.contenedor{
    width: 700px;
    height: 550px;
    /* border: 3px solid black; */
}
.box1{
    background-color: #A4A3FF;
    color: white;
}
.box2{
    color: #A4A3FF;

}
.boxFooter{
    /* border: 1px solid black; */
    width: 45%;
}
.boxFooter h4{
    text-align: center;
}
.box1 a{
    font-weight: bolder;
}
.box2 a{
    color: #3da4ab;
    font-weight: bolder;
}
.box1-terminos a{
    color: white;
}
input{
    margin: 5px 0;
}
textarea{
    margin: 5px 0;
}
h2{
    text-align: center;
    margin: 10px 0;
}
.listaEncuentra li{
    margin: 10px 0;
    list-style: url(https://icon-icons.com/icons2/317/PNG/32/map-marker-icon_34392.png);
}
.listaChatea li{
    margin: 10px 0;
    list-style: none;
}
.listaFooter li{
    list-style: url(https://icon-icons.com/icons2/1132/PNG/32/1486348525-music-forward-front-next-arrow_80457.png);
}
.chatea{
    width: 225px;
    height: 375px;
}
.repara p{
    font-style: italic;
}
.none{
    display: none;
}
.carUbic{
    width: 40%;
    background-color: #A4A3FF;
    border: 2px solid black;
}
.custocareLogo{
    width: 75px;
    height: 100px;
}
.box1-terminos{
    border: 2px solid black;
    width: 70%;
    padding: 20px;
    background-color: #A4A3FF;
    color: white;
}
.clausulaUno h6{
    margin-top: 40px;
    margin-bottom: 20px;
}
.cuerpo-terminos{
    background-color: #b1b493;
}